body{
	background-image: url("fond.jpg");
	background-size: cover;
	color: #FFFFFF;
	font-weight: bold;
}

li #BLOCDiplome{
	vertical-align: middle;
	clear: both;
}

li a #menu_horizontal{
	clear: both;
}

ul {
	list-style-type:none;
	padding:30px;
	text-align: center;
	vertical-align: middle;
}

h1 {
	font-size: 200%;
	color: red;
	text-align: center;
	text-decoration: underline white;
}

h3{
	float: center;
	text-align: center;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

h4{
	text-align: center;
	font-weight: bold;
	color: red;
}

h5{
	float: center;
	font-weight: bold;
	color: white;
}

div .nom{
	margin-top: 70px;
}

.info{
	float: right;
	text-align: center;
	color: white;
	font-weight: bold;
	border: 3px dashed red;
	margin-right: 130px;
	clear: both;
}

.formation{
	display: inline-block;
	clear: both;
}

.loisirs{
	align-items: center;
	clear: both;
	white-space: pre-line;
}

.exp ul li{
	border:0px solid blue;
	display:inline-block;;
	width:180px;
	background:#999;
	border-radius: 10px;
}

.exp p{
	float: left;
	text-align: center;
}

.photo img{
	margin-left: 60px;
	border: 3px solid red;
	float: top left;
	overflow: auto;
	clear: both;
}

#menu_horizontal li {
	display:block;
	width:160px;
	float:right;
	background:#999;
	border-radius: 15px;
	margin-bottom: auto;
}

#menu_horizontal li.active{
	background:#FF0000;
}

#menu_horizontal li:hover {
	background:#FF0000;
}

#menu_horizontal li:hover a {
	color:red;
}

div #BLOCFormation{
	text-align: center;
}


#BLOCFormation ul li{
	display:inline-block;
	width:160px;
	background:#999;
	border-radius: 15px;
	text-align: center;
	clear: both;
	margin: 25px;
}
